.dino-image {
    margin: 0 auto;
    width: 50%;
}

.silhouette-100 {
    fill: rgba(0, 0, 0, 1);
}

.silhouette-80 {
    fill: rgba(0, 0, 0, 0.8);
}

.silhouette-60 {
    fill: rgba(0, 0, 0, 0.6);
}

.silhouette-40 {
    fill: rgba(0, 0, 0, 0.4);
}

.silhouette-20 {
    fill: rgba(0, 0, 0, 0.2);
}

.silhouette-00 {
    fill: rgba(0, 0, 0, 0.0);
}

